<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunny.onlineoralcare.qpost.repository.QpostRepository">
	
	<!-- 질문 글 삭제하기 -->
	<delete id="deleteQpost" parameterType="int">
		DELETE FROM
			`question_post`
		WHERE
			`id` = #{id}
	
	</delete>
	
	<!-- 질문 글 수정하기 -->
	<update id="updateQpost" parameterType="map">
		UPDATE
			`question_post`
		SET
			`title` = #{title}
			, `content` = #{content}
			, `updatedAt` = now()
		WHERE
			`id` = #{id}
	</update>
	
	<!-- 질문 글 리스트 페이지 검색기능 - 작성자로 조회 -->
	<select id="selectQpostByWriter" parameterType="String" resultType="com.sunny.onlineoralcare.qpost.domain.Qpost"> 
		SELECT
			`id`
			, `userId`
			, `writer`
			, `title`
			, `content`
			, `imagePath`
			, `password`
			, `createdAt`
			, `updatedAt`
		FROM
			`question_post`
		WHERE
			`writer` = #{writer}		
	</select>
		
	<!-- 질문 글 리스트 페이지 검색기능 - 제목으로 조회 -->
	<select id="selectQpostByTitel" parameterType="String" resultType="com.sunny.onlineoralcare.qpost.domain.Qpost"> 
		SELECT
			`id`
			, `userId`
			, `writer`
			, `title`
			, `content`
			, `imagePath`
			, `password`
			, `createdAt`
			, `updatedAt`
		FROM
			`question_post`
		WHERE
			`title` = #{title}		
	</select>	
	
	<!-- 비밀 글 비밀번호 확인하기 - password 일치 여부 체크 -->
	<select id="selectQpostByPassword" parameterType="map" resultType="com.sunny.onlineoralcare.qpost.domain.Qpost"> 
		SELECT
			`id`
			, `userId`
			, `writer`
			, `title`
			, `content`
			, `imagePath`
			, `password`
			, `createdAt`
			, `updatedAt`
		FROM
			`question_post`
		WHERE
			`id` = #{id}
			AND `password` = #{password}
	</select>
	
	<!-- 질문 글 상세보기 - id 기반으로 정보가져오기 -->
	<select id="selectQpostById" parameterType="int" resultType="com.sunny.onlineoralcare.qpost.domain.Qpost">
		SELECT
			`id`
			, `userId`
			, `writer`
			, `title`
			, `content`
			, `imagePath`
			, `password`
			, `createdAt`
			, `updatedAt`
		FROM
			`question_post`
		WHERE
			`id` = #{id}
	</select>
	
	<!-- 전체 질문글 개수 -->
	<select id="countQpost" resultType="int">
		SELECT
			count(id) as totalCountPost
		FROM
			`question_post`
	</select>

	<!-- 페이징을 위해 질문 리스트에 리미트 조건걸어서 가져오기 -->
	<select id="selectQpostListLimit" resultType="com.sunny.onlineoralcare.qpost.domain.Qpost" parameterType="com.sunny.onlineoralcare.common.Pagination">
		SELECT
			`id`
			, `userId`
			, `writer`
			, `title`
			, `content`
			, `imagePath`
			, `password`
			, `createdAt`
			, `updatedAt`
		FROM
			`question_post`
		ORDER BY
			`id` DESC
		LIMIT
			#{start}, #{postSize}
		
	</select>

	<!--  질문 글 작성 정보 insert -->
	<insert id="insertQpost" parameterType="map">
		INSERT INTO
			`question_post`
			(
				`userId`
				, `writer`
				, `title`
				, `content`
				, `imagePath`
				, `password`
			)
			
		VALUE
		(
			#{userId}
			, #{writer}
			, #{title}
			, #{content}
			, #{imagePath}
			, #{password}
			
		)
		
	</insert>
</mapper>