@charset "UTF-8";

/* 큰틀 잡기 */
#wrap {
	width: 1500px;
	margin: 0px auto;
}

/* heaader */
header {
	height: 90px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-box1 {
	display: flex;
	align-items: center;
}

.header-box1_logo {
	width: 70px;
	height: 70px;
	margin-left: 30px;
	margin-right: 10px;
}

.header-box1-text {
	font-size: 50px;
	font-weight: 900;
	background-image: linear-gradient(to right, rgb(64, 0, 128), rgb(0, 128, 255));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.header-box2 {
	margin-right: 30px;
}

.header-box2-login {
	font-size: 20px;
}

.header-box2-login-anchor {
	color: black;
}

.header-box2-login-anchor:hover {
	text-decoration: none;
	color: black;
}

.header-box2-logout {
	font-size: 20px;
}

.header-logout-myInfo {
	display: flex;
	justify-content: end;
}

.header-myInfo {
	margin-left: 30px;
}

/* nav */
nav {
	display: flex;
	align-items: center;
}

.nav-box {
	width: 1500px;
	height: 30px;
}

.nav-box-list {
	list-style: none;
	float: left;
	margin-right: 100px;
	margin-left: 55px;
}

.nav-box-anchor {
	color: black;
	font-size: 20px;
	font-weight: 700;
	height: 60px;
}

.nav-box-anchor:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: navy;
}


/* footer */
.footer-box {
	width: 1500px;
	height: 60px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.footer-box-nav {
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
	margin-left: 15px;
}

.footer-box-nav-anchor {
	color: black;
	margin-right: 10px;
	margin-left: 10px;
}

.footer-box-nav-anchor:hover {
	text-decoration: none;
	color: black;
}

.footer-box-copyright {
	font-size: 15px;
	font-style: italic;
	margin-top: 20px;
	margin-right: 20px;
}


/* home.jsp */
.home {
	display: flex;
	justify-content: center;
}

.home-box {
	width: 600px;
	height: 500px;
	margin-right: 30px;
	margin-left: 30px;
}

.home-box_smile-tooth {
	width: 600px;
	height: 400px;
	margin-top: 50px;
}

.home-box-message {
	width: 400px;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 40px;

}

.home-box-message-detail {
	font-size: 35px;
	font-weight: 600;

}

.home-box-join {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 200px;
	margin-left: 200px;
}

.home-box-join-anchor:hover {
	text-decoration: none;
	color: black;
}

.home-box-join-anchor {
	color: black;
}

.home-box-join-image {
	width: 200px;
	height: 200px;
}

.home-box-join-messages {
	width: 200px;
	height: 100px;
}

.home-box-join__broken-tooth {
	width: 200px;
	height: 200px;
}

.home-box-join-message {
	font-size: 25px;
	font-weight: 800;
}


/* user - join.jsp */
.join-box-center {
	display: flex;
	justify-content: center;
}

.join-box {
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 3px black;
	width: 500px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.join-box-kakao {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.kakao {
	width: 60px;
	height: 60px;
}

.join-box-logo {
	font-weight: 900;
	margin-bottom: 5px;
}

.join-box-text {
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
}

.join-box-type {
	width: 250px;
	height: 30px;
}

#duplicateBtn {
	color: white;
	background-color: navy;
	border: 2px solid white;
	width: 100px;
	height: 35px;
}

#duplicateId {
	font-size: small;
	font-weight: 900;
	color: red;
	display: none;
}

#nonDuplicateId {
	font-size: small;
	font-weight: 900;
	color: rgb(0, 0, 255);
	display: none;
}

.join-box-phone {
	display: flex;
}

.join-box-phone-number {
	width: 100px;
	margin-right: 10px;
}

#personalAuthenticationBtn {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: navy;
}

.join-box-personal-authentication {
	margin-top: 8px;
	display: none;
}

#button-authentication-number {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: navy;
}

#success-personal-authentication {
	display: none;
}

#fail-personal-authentication {
	display: none;
}

#joinBtn {
	margin-top: 25px;
	float: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: navy;
}


/* user - login.jsp */
.login-box-center {
	display: flex;
	justify-content: center;
}

.login-box {
	width: 800px;
	height: 400px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-input-box {
	width: 500px;
	height: 370px;
	border: solid black 3px;
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 30px;
	margin-top: 20px;
}

.login-box-text {
	font-size: 40px;
	margin-bottom: 15px;
}

.login-box-loginId {
	width: 350px;
	height: 40px;
	margin-bottom: 7px;
}

.login-box-password {
	width: 350px;
	height: 40px;
}

.botton-login {
	width: 350px;
	height: 40px;
	margin-top: 20px;
	color: white;
	background-color: navy;
	text-decoration: none;
}

.login-box-button-box {
	padding-right: 55px;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

}

.link-join {
	color: white;
	background-color: navy;
	text-decoration: none;
	height: 35px;
}

.link-find-id {
	color: white;
	background-color: navy;
	text-decoration: none;
	height: 35px;
}

.link-find-password {
	color: white;
	background-color: navy;
	text-decoration: none;
	height: 35px;
}


/* manager - login.jsp */
.manager-login-box-button-box {
	margin-top: 10px;
}

.link-join-manager {
	width: 350px;
	height: 40px;
	color: white;
	background-color: navy;
	text-decoration: none;
}


/* qpost-create.jsp */
.qpost-box-center {
	display: flex;
	justify-content: center;
}

.qpost-box {
	width: 1000px;
	height: 610px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 50px;
	border: solid 3px black;
}

.qpost-logo {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 20px;
}

.qpost-text-box {
	display: flex;
	margin-bottom: 10px;
}

.qpost-text {
	width: 87px;
	height: 35px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 7px;
}

.writer {
	margin-top: 5px;
	font-size: 15px;
	font-weight: 700;
}

.qpost-title {
	width: 750px;
	height: 35px;
}

.qpost-content {
	width: 750px;
}

.qpost-file {
	margin-top: 5px;
	margin-bottom: 10px;
}

.qpost-secret {
	margin-top: 10px
}

.qpost-password {
	display: none;
	margin-left: 20px;
	width: 350px;
	height: 35px;
}

.qpost-button-box {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.button-qpost-list {
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

.button-qpost-complete {
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
	width: 100px;
	height: 40px;
}


/* qpost-list jsp */
.qpost-list-box {
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 50px;
}

.qpost-list-logo {
	font-size: 35px;
	font-weight: 700;
}

.qpost-search {
	display: flex;
	justify-content: right;
	margin-right: 40px;
	margin-bottom: 30px;
}

.select-qpost-search {
	margin-right: 10px;
}

.input-qpost-search {
	width: 300px;
	height: 30px;
}

.button-qpost-search {
	width: 60px;
	height: 30px;
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
}

.qpost-list-number {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.pageInfo {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

.paging:link {
	color: black;
	text-decoration: none;
}

.paging:visited {
	color: black;
	text-decoration: none;
}

.paging:hover {
	color: black;
	text-decoration: underline;
}


.qpost-list-button {
	display: flex;
	justify-content: end;
	margin-right: 50px;
	margin-bottom: 20px;
}

.button-qpost-list {
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

/* qpost-detail jsp */
.qpost-detail-box-center {
	display: flex;
	justify-content: center;
}

.qpost-detail-logo {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 20px;
}

.qpost-detail-box {
	width: 1000px;
	padding: 50px;
	margin-top: 40px;
	margin-bottom: 30px;

}

.qpost-detail-side {
	display: flex;
	margin-bottom: 10px;
}

.qpost-detail-text {
	width: 70px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 7px;
}

.qpost-detail-title {
	width: 750px;
	height: 35px;
}

.qpost-detail-file {
	margin-left: 240px;
	margin-bottom: 10px;
	width: 40%;
	height: 50%;
}

.qpost-detail-content {
	width: 750px;

}


.qpost-detail-button-box {
	display: flex;
	justify-content: end;
}

.qpost-detail-button1 {
	margin-right: 10px;

}

.qpost-detail-button2 {
	margin-right: 70px;
}

.button-qpost-delete {
	color: white;
	font-size: 17px;
	background-color: indianred;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

.button-qpost-modify {
	color: white;
	font-size: 17px;
	background-color: seagreen;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

/* manager-detail jsp */
.qpost-answer-file {
	margin-left: 240px;
	margin-bottom: 10px;
	width: 40%;
	height: 50%;
}

.button-answer-modify {
	color: white;
	font-size: 17px;
	background-color: indianred;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

.button-qpost-answer {
	color: white;
	font-size: 17px;
	background-color: seagreen;
	text-decoration: none;
	width: 100px;
	height: 40px;
}

/* user info jsp */
.info-box-center {
	display: flex;
	justify-content: center;
}

.info-box {
	border: solid black 1px;
	width: 500px;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 30px;
}

.info-box-logo-center {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	}

.info-box-logo {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 35px;
}

.info-user-loginId {
	font-size: 15px;
}

.info-password-box {
	display: flex;
	margin-bottom: 10px;
}

.input-info-password {
	width: 320px;
	height: 30px;
	margin-right: 10px;
}

.button-info-password {
	width: 70px;
	height: 30px;
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
}

.input-info {
	width: 400px;
	height: 30px;
	margin-bottom: 10px;
}

.button-info-modify {
	width: 400px;
	height: 30px;
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
	margin-top: 10px;
}

/* reset password jsp */
.resetPassword-box-center {
	display: flex;
	justify-content: center;
}

.resetPassword-box {
	border: 3px solid black;
	width: 500px;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-right: 75px;
	padding-left: 50px;
}

.resetPassword-text {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 25px;
}

.input-resetPassword {
	width: 400px;
	height: 30px;
	margin-bottom: 12px;
}

.button-newPassword {
	width: 400px;
	height: 35px;
	color: white;
	font-size: 17px;
	background-color: navy;
	text-decoration: none;
	margin-top: 10px;
}




















